.followed-button,
.unfollowed-button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.followed-button.button-visible,
.unfollowed-button.button-visible {
    display: inline-block;
}

.followed-button {
    background-color: darkred;
    color: white;
}

.unfollowed-button {
    background-color: darkcyan;
    color: white;
}

.num-followers,
.num-followees {
    color: darkgray;
}