@mixin full-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

@mixin center-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome,
.puzzle {
    @include full-page;
    @include center-container;
    text-align: center;
}

#welcome,
#puzzle {
    visibility: hidden;
}

#letter-shuffle-title {
    font-size: xxx-large;
}