$small: 768px;
$large: 1200px;

@mixin big-text {
    font-size: larger;

    @media (min-width: $small) {
        font-size: x-large;
    }

    @media (min-width: $large) {
        font-size: xx-large;
    }
}

@mixin bigger-text {
    font-size: x-large;

    @media (min-width: $small) {
        font-size: xx-large;
    }

    @media (min-width: $large) {
        font-size: xxx-large;
    }
}

@mixin full-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

@mixin center-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@mixin center-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome,
.puzzle {
    @include full-page;
    @include center-container;
    text-align: center;
}

.fade-in {
    animation: fadeIn 1s;
}

.letter-box-container {
    @include center-flex;
    min-height: 3em;
    border: 0.1em solid brown;
    border-radius: 0.5em;
}

.letter-box {
    @include bigger-text;
    @include center-flex;
    background-color: brown;
    color: white;
    width: 1.5em;
    height: 1.5em;
    margin: 0.1em;
    border: 0.1em solid brown;
    border-radius: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}

.letter-box.ghost {
    background-color: transparent;
    border: 0.1em dashed brown;
}

.dragged {
    opacity: 0.5;
}

.answer {
    @include big-text;
    @include center-flex;
    width: 70%;
    min-height: 3em;
    margin: 0.1em;
    border: 0.1em solid gray;
    border-radius: 1.25em;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
}

.submit {
    @include center-container;
    @include big-text;
    background-color: green;
    width: 3em;
    height: 3em;
    margin: 0.1em;
    border: 0.1em solid green;
    border-radius: 1.5em;
}

.material-icons {
    @include bigger-text;
    color: white;
}

#welcome {
    z-index: 1;
}

#letter-shuffle-title {
    @include bigger-text;
    margin: 0.5em 0;
}

#form {
    @include center-flex;
}