{% extends 'base-lettershuffle.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lettershuffle/css/puzzle.css' %}">
{% endblock head %}

{% block body %}
    <div class="welcome fade-in" id="welcome">
        <div class="container">
            <div id="letter-shuffle-title"></div>
            <form id="form">
                <div class="text-input" id="text-input"></div>
                <input type="hidden" name="text-input">
                <button type="submit" class="submit"><i class="material-icons">send</i></button>
            </form>
        </div>
    </div>
    <div class="puzzle" id="puzzle">
        <div id="unused-letters-container"></div>
        <form action="{% url 'puzzle-check-api' %}" method="post" id="used-letters-container"></form>
    </div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'lettershuffle/js/util.js' %}"></script>
    <script src="{% static 'lettershuffle/js/puzzle.js' %}"></script>
    <script src="{% static 'lettershuffle/js/title.js' %}"></script>
{% endblock scripts %}