@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.welcome,
.puzzle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fade-in {
  animation: fadeIn 1s;
}

.letter-box-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.letter-box {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  color: white;
  width: 1.5em;
  height: 1.5em;
  margin: 0.1em;
  border: 0.1em solid brown;
  border-radius: 0.5em;
  font-family: "Courier New", Courier, monospace;
}
@media (min-width: 576px) {
  .letter-box {
    font-size: large;
  }
}
@media (min-width: 768px) {
  .letter-box {
    font-size: larger;
  }
}
@media (min-width: 992px) {
  .letter-box {
    font-size: x-large;
  }
}
@media (min-width: 1200px) {
  .letter-box {
    font-size: xx-large;
  }
}
@media (min-width: 1560px) {
  .letter-box {
    font-size: xxx-large;
  }
}

.text-input {
  font-size: small;
  display: block;
  width: 70%;
  height: 3em;
  margin: 0.1em;
  border: 0.1em solid gray;
  border-radius: 1.25em;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 576px) {
  .text-input {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .text-input {
    font-size: large;
  }
}
@media (min-width: 992px) {
  .text-input {
    font-size: larger;
  }
}
@media (min-width: 1200px) {
  .text-input {
    font-size: x-large;
  }
}
@media (min-width: 1560px) {
  .text-input {
    font-size: xx-large;
  }
}

.submit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: small;
  background-color: green;
  width: 3em;
  height: 3em;
  margin: 0.1em;
  border: 0.1em solid green;
  border-radius: 1.5em;
}
@media (min-width: 576px) {
  .submit {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .submit {
    font-size: large;
  }
}
@media (min-width: 992px) {
  .submit {
    font-size: larger;
  }
}
@media (min-width: 1200px) {
  .submit {
    font-size: x-large;
  }
}
@media (min-width: 1560px) {
  .submit {
    font-size: xx-large;
  }
}

.material-icons {
  font-size: medium;
  color: white;
}
@media (min-width: 576px) {
  .material-icons {
    font-size: large;
  }
}
@media (min-width: 768px) {
  .material-icons {
    font-size: larger;
  }
}
@media (min-width: 992px) {
  .material-icons {
    font-size: x-large;
  }
}
@media (min-width: 1200px) {
  .material-icons {
    font-size: xx-large;
  }
}
@media (min-width: 1560px) {
  .material-icons {
    font-size: xxx-large;
  }
}

#welcome {
  z-index: 1;
}

#letter-shuffle-title {
  font-size: medium;
  margin: 0.5em 0;
}
@media (min-width: 576px) {
  #letter-shuffle-title {
    font-size: large;
  }
}
@media (min-width: 768px) {
  #letter-shuffle-title {
    font-size: larger;
  }
}
@media (min-width: 992px) {
  #letter-shuffle-title {
    font-size: x-large;
  }
}
@media (min-width: 1200px) {
  #letter-shuffle-title {
    font-size: xx-large;
  }
}
@media (min-width: 1560px) {
  #letter-shuffle-title {
    font-size: xxx-large;
  }
}

#form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}