{% extends "network/layout.html" %}

{% load check_followed %}
{% load static %}

{% block head %}
    <link href="{% static 'network/css/posts.css' %}" rel="stylesheet">
    <link href="{% static 'network/css/following.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}
    My following
{% endblock title %}

{% block body %}
    <div class="following-container">
        <h2 class="following" data-followings="{{ followees|join:',' }}" id="following">My following</h2>
        {% if followees %}
            {% include "network/includes/posts/post-container.html" %}
        {% else %}
            <div class="post-container">
                <div class="no-followers empty-list">No followers yet</div>
            </div>
        {% endif %}
    </div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'network/js/posts.js' %}"></script>
    <script src="{% static 'network/js/following.js' %}"></script>
{% endblock scripts %}