{% extends "network/layout.html" %}

{% load check_followed %}
{% load static %}

{% block head %}
    <link href="{% static 'network/css/posts.css' %}" rel="stylesheet">
    <link href="{% static 'network/css/profile.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}
    {% if is_self %}
        My profile
    {% else %}
        {{ user_ }}'s profile
    {% endif %}
{% endblock title %}

{% block body %}
    {% if err %}
        <div class="err">{{ err }}</div>
    {% else %}
        <div class="profile-container">
            <h2 class="username" data-username="{{ user_.username }}" id="username">{{ user_.username }}</h2>
            {% if user != user_ %}
                <div class="follow-button">
                    <div class="followed-button div-button {% followed_class user user_ False %}" id="followed-button">Unfollow</div>
                    <div class="unfollowed-button div-button {% followed_class user user_ True %}" id="unfollowed-button">Follow</div>
                </div>
            {% endif %}
            <div class="num-followers">Followed by {{ num_followers }} {{ num_followers|pluralize:"person,people" }}</div>
            <div class="num-followees">Follows {{ num_followees }} {{ num_followees|pluralize:"person,people" }}</div>
            {% include "network/includes/posts/post-container.html" %}
        </div>
    {% endif %}
{% endblock body %}

{% block scripts %}
    <script src="{% static 'network/js/posts.js' %}"></script>
    <script src="{% static 'network/js/profile.js' %}"></script>
{% endblock scripts %}