{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form" autocomplete="off">
        <div class="form-group">
            From: <input type="email" id="compose-sender" value="{{ request.user.email }}" class="form-control" disabled>
        </div>
        <div class="form-group">
            To: <input type="email" id="compose-recipients" name="recipients" class="form-control" list="existing-users"
                required multiple>
            <datalist id="existing-users">
                {% for user_ in all_users %}
                    <option value="{{ user_.email }}">{{ user_.username }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="form-group">
            <input type="text" id="compose-subject" name="subject" class="form-control" placeholder="Subject"
                maxlength="255">
        </div>
        <textarea id="compose-body" name="body" class="form-control" placeholder="Body" autofocus required></textarea>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static 'mail/css/email-preview.css' %}">
<link rel="stylesheet" href="{% static 'mail/css/email-details.css' %}">
<script src="{% static 'mail/js/init.js' %}"></script>
<script src="{% static 'mail/js/util.js' %}"></script>
<script src="{% static 'mail/js/csrf.js' %}"></script>
<script src="{% static 'mail/js/icons.js' %}"></script>
<script src="{% static 'mail/js/api.js' %}"></script>
<script src="{% static 'mail/js/elements.js' %}"></script>
<script src="{% static 'mail/js/views.js' %}"></script>
<script src="{% static 'mail/js/actions.js' %}"></script>
{% endblock %}