{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
{{ lt.title }}
{% endblock%}

{% block head %}
    <link href="{% static 'auctions/listing.css' %}" rel="stylesheet">
{% endblock%}

{% block body %}
    {% if lt %}
        <div>
            <h2>Listing: {{ lt.title }}</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'watch' %}" method="POST" class="watching">
                    {% csrf_token %}
                    <input type="hidden" name="id_" value="{{ lt.id }}">
                    {% if watching %}
                        <input type="hidden" name="action" value="remove">
                        <input type="submit" value="Remove from watchlist">
                    {% else %}
                        <input type="hidden" name="action" value="add">
                        <input type="submit" value="Add to watchlist">
                    {% endif %}
                </form>
            {% endif %}
            {% if lt.image_url %}
                <img src="{{ lt.image_url }}" alt="{{ lt.title }}">
            {% endif %}
            <div class="listing-price">${{ lt.get_max_bid }}</div>
            {% if lt.description %}
                <div class="listing-description">{{ lt.description }}</div>
            {% endif %}
            {% comment %} <div class="listing-time">
                <span class="prefix">Created </span>
                <span class="content">{{ lt.get_time_str }}</span>
            </div> {% endcomment %}
        </div>
    {% else %}
        <h2>Requested listing does not exist!</h2>
    {% endif %}
{% endblock %}